.banner_header{
    margin: 10px auto;
    padding: 0px 10px;
 

    .swiper-container {
        width: 1225px;
    }

    .swiper-wrapper {
        padding-inline-start: 0;
    }

    .slider_imgs {
        list-style: none;
    }
}