.request-page {
      max-width: 700px;
      margin: 0 auto;
      height: 55vh;
      margin-top: 110px;
      box-shadow: rgb(238, 238, 238) 0px 0px 35px;

      form {
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 75%;

            h3 {
                  text-align: center;
                  font-weight: 400;
                  margin-top: 65px;
                  color: teal;
            }

            input {
                  width: 100%;
                  border: 1px solid teal;
                  margin: 5px;
                  padding: 10px;
                  border-radius: 5px;
            }

            a {
                  text-decoration: none;
                  padding: 5px;
                  margin-left: 15px;
                  margin-bottom: 20px;
                  color: grey;
                  font-size: 12px;

                  span {
                        color: tomato;
                        cursor: pointer;
                  }
            }
            .message {
                  width: 100%;
                  margin: auto;

                  p {
                        width: 100%;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                        margin-top: 5px;
                        margin-left: 20px;
                        height: 30px;
                        overflow: hidden;
                        color: darkgray;
                        font-size: 12px;

                        span {
                              color: tomato;
                              cursor: pointer;
                        }
                  }
            }

            .btn-submit {
                  width: 100%;
                  margin: 0px;
                  margin-bottom: 80px;
                  margin-left: 13px;
                  padding: 4px;
                  background: teal;
                  color: white;
                  border: none;
                  cursor: pointer;
                  font-size: 18px;
                  border-radius: 5px;
                  margin-top: 27px;
            }
      }
}
