@import "./variables";

// .site-navigation {
//     display: none;
// }


.main-brands-content {
    position: relative;
    margin-left: 260px;
    transition: margin-left 500ms;
}

main {
    // margin-top: 60px;
    background: $background1;
    min-height: 95vh;
    padding: 1rem 3rem;
}
.dash-title {
    color: $main-color;
    margin-bottom: .5rem;
}
.recent-brand {
    margin-top: 0rem;
    margin-bottom: 3rem;
}

.brands-card__head {
    display: flex;
    justify-content: space-between;
}

.brands-card__head a { 
    margin: 1.5rem .5rem;
    font-size: 18px;
    font-weight: 500;
}

.brands-grid {
    display: grid;
    grid-template-columns: 75% 23%;
    column-gap: 2.5rem;
}

.brands-card, 
.brand-detail {
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px  rgba(0,0,0,0.3);
}

.brands-card  h3 {
    color: $text-light;
    margin: 1rem;
}


.brands-card  table{
    width: 100%;
    border-collapse: collapse;
 }


.brands-card  thead{
    background: #efefef;
    text-align: left;
  }


th, td{
    font-size: .9rem;
    padding: 1rem  1rem;
    color: $text-grey;
}

td {
  font-size: .8rem;
}

.td-team {
    display: flex;
    align-items: center;
}

.td-team  img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: -10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.table-responsive {
    overflow-x: auto;
  }