@import "./variables";

// .site-navigation {
//     display: none;
// }


.main-categories-content {
      position: relative;
      margin-left: 260px;
      transition: margin-left 500ms;
}

main {
    //   margin-top: 60px;
      background: $background1;
      min-height: 95vh;
      padding: 1rem 3rem;
}
.categories__head {
    display: flex;
    justify-content: space-between;
}


.categories__head a {
    margin: 1.5rem .5rem;
    font-size: 18px;
    font-weight: 500;
}

.dash-title {
      color: $main-color;
      margin-bottom: .5rem;
}

.form-control label {
    margin-left: 1rem;
}
.form-control input {
    width: 97%;
    border: 0.5px solid teal;
    margin: 0 5px 5px 5px;
    padding: 0 5px 5px 5px;
    border-radius: 5px;
    margin-bottom: .5rem;
    margin-left: .9rem;
}

.form-control textarea {
    width: 97%;
    border: 0.5px solid teal;
    margin: 0 5px 5px 5px;
    padding: 0 5px 5px 5px;
    border-radius: 5px;
    margin-bottom: .5rem;
    margin-left: .9rem;
}

.form-submit {
    display: flex;
    justify-content: space-between;
    margin-top: 1.3rem;
}

.form-submit .btn__cancel {
    width: 10%;
    background: $text-grey;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
}

.form-submit .btn__submit {
    width: 10%;
    background: $main-color;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
}
.recent-categories {
      margin-top: 0rem;
      margin-bottom: 3rem;
}

.categories-grid {
      display: grid;
      grid-template-columns: 75% 23%;
      column-gap: 2.5rem;
}

.categories-card,
.category-detail {
      background: #fff;
      border-radius: 7px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.categories-card h3 {
      color: $text-light;
      margin: 1rem;
}

.categories-card table {
      width: 100%;
      border-collapse: collapse;
}

.categories-card thead {
      background: #efefef;
      text-align: left;
}

th,
td {
      font-size: 0.9rem;
      padding: 1rem 1rem;
      color: $text-grey;
}

td {
      font-size: 0.8rem;
}

.td-team {
      display: flex;
      align-items: center;
}

.img-1 {
      height: 38px;
      width: 38px;
      border-radius: 50%;
      margin-left: -10px;
      background-size: cover;
      background-repeat: no-repeat;
}

.table-responsive {
      overflow-x: auto;
}

.category-single {
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
}

.category-single span{
    font-size: 1.5rem;
    color: #777;
    padding-right: 1rem;
  }

.category-single  h3 {
    color: $main-color;
    font-size: 1.1rem;
    margin-right: .5rem !important;
 }