@import "./variables";

// .site-navigation {
//     display: none;
// }


.main-profile-content {
    position: relative;
    margin-left: 260px;
    transition: margin-left 500ms;
}

main {
    // margin-top: 60px;
    background: $background1;
    min-height: 95vh;
    padding: 1rem 3rem;
}

.profile-image-cards {
    border-radius: 7px;
    padding: 0rem 0rem;
    display: block;
    align-items: center;
}

.cover-image  {
    margin-bottom: - 3.5rem;
    // box-shadow: 1px 1px 1px  rgba(0,0,0,0.3);
}
.cover-image  div {
    height: 285px;
    width: 1494px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/images/2.png');
    border-radius: 5px;
    border-style: 1px solid;
}

.cover-image  img {
    height: 285px;
    width: 1494px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    border-style: 1px solid;
}


.profile-image {
    margin-left: 45rem;
}

.profile-image div {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/images/1.jpg');
    border-radius: 50%;
    border-style: 1px solid;
}

.profile-image img {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border-style: 1px solid;
}


.recent-profile  {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.profile-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 1.5rem;
}

.profile-activity-card, 
.profile-card {
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px  rgba(0,0,0,0.3);
    margin-bottom: 1.3rem;
}

.profile-card  .profile-single__head {
    display: flex;
    justify-content: space-between;
}

.profile-card  .profile-single__head  span {
    margin: .5rem .5rem;
}

.profile-activity-card table{
    width: 100%;
    border-collapse: collapse;
 }


 .profile-activity-card   thead{
    background: #efefef;
    text-align: left;
  } 

  th, td{
    font-size: .9rem;
    padding: 1rem  1rem;
    color: $text-grey;
}

td {
  font-size: .8rem;
}

.table-responsive {
    overflow-x: auto;
  }

.profile-card h3 {
    color: $text-grey;
    margin: .5rem;
}

.profile-activity-card h3 {
    color: $text-grey;
    margin: .3rem;
}
.profile-single {
    //padding: .5rem .5rem;
    display: flex;
    align-items: center;
    margin-left: .5rem;
}

.profile-single span {
    font-size: 1.3rem;
    color: #777;
    // padding-right: .5rem;
    margin-left: 1rem;
}

.profile-single h3 {
    color: $main-color;
    font-size: .9rem;
    margin-right: .5rem !important;
 }