$text-link: #2997ff;
$text-color: #fff;
$main-color: teal;
$background: #fdfdfd;
$background1: #f1f5f9;
$border: #ccc;
$text-light: #999;
$text-grey: #555657;

:root {
    --main-color: teal;
    /* --main-color: #027581; */
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    --background-color: #f1f5f9; 
}


